src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="process-ibs-library-main">
        <http:listener config-ref="process-ibs-library-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="beforeApiKitLogger" doc:id="a5815bf6-683e-4e20-96a3-265c5e4dd6ff" message="####### beforeApiKitLogger" />
        <apikit:router config-ref="process-ibs-library-config" />
        <logger level="INFO" doc:name="afterApiKitLogger" doc:id="6bfbce3b-89c1-41d8-bc5f-5e370dd18dbb" message="####### afterApiKitLogger" />
    </flow>
    <flow name="get:\books:process-ibs-library-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  libraryCode: "IBS111"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\libraries:process-ibs-library-config">
        <logger level="INFO" doc:name="startLogger" doc:id="8abdcb07-ca74-4ae8-a1d2-629e45642a64" message="#['process api get libraries flow - start logger']" />
        <flow-ref doc:name="getLibrariesImplimentationFlow" doc:id="1a248d05-a03c-488f-b0d0-9eff66fec9c2" name="getLibrariesImplimentationFlow" />
    </flow>
    <flow name="get:\libraries\(libraryId):process-ibs-library-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="libraryIdPVar"><![CDATA[attributes.uriParams.'libraryId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="post:\books:application\json:process-ibs-library-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "book added successfully",
  "Book code": "Bk123"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
